services:
  chroma:
    build:
      context: ./backend
      dockerfile: Dockerfile.chroma
    ports:
      - "8000:8000"

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile.api
    ports:
      - "8001:8001"
    environment:
      CHROMA_HOST: chroma
      CHROMA_PORT: 8000
      API_KEY: ${API_KEY}
    depends_on:
      - chroma
